# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
native/target
jniLibs

Cargo.lock
pubspec.lock
ios/Runner/bridge_generated.h
ios/Runner/bridge_generated.h
lib/bridge_definitions.dart
lib/bridge_generated.dart
lib/bridge_generated.io.dart
lib/bridge_generated.web.dart
macos/Runner/bridge_generated.h
native/src/bridge_generated.io.rs
native/src/bridge_generated.rs
native/src/bridge_generated.web.rs
